name: "Mirror"

on:
  workflow_dispatch:
  release:
    types: ["published"]
  push:
    branches: ["**"]
    tags: ["**"]

jobs:
  mirror:
    name: "Mirror"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "Mirror to Codeberg"
        uses: cssnr/mirror-repository-action@master
        with:
{{#url}}
          url: "{{{url}}}"
{{/url}}
{{^url}}
          host: "{{{host}}}"
{{#owner}}
          owner: "{{{owner}}}"
{{/owner}}
{{#repo}}
          repo: "{{{repo}}}"
{{/repo}}
{{/url}}
          create: true
          username: "{{{username}}}"
          password: {{{token}}}
